.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-theme-alpine .ag-header-cell-label {
  font-style: italic;
}
.ag-theme-alpine {
  /* use theme parameters where possible */
  --ag-foreground-color: black;
  --ag-background-color: grey;
}

.ag-header-cell {
  background-color: #000;
  color:white;
  font-size:16px
}
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: black !important;
  background-color: #ff00008a !important;
}